html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}
.outputDiv {
	position: absolute;
    background-color: #FFFFFF;
    width: 30%;
    height: auto;
    left: 54px;
    top: 5px;
    border: 1px solid;
}
.blocksSelection {
	position: absolute;
    top: 15px;
    left: 400px;
    width: 15%;
}
.gomeriaLink {
    font-size: small;
	text-decoration: none;
}