html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}
.panel {
    width: 80%;
    background-color: #FFFFFF;
    max-height: 90px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    border: 2px solid;
    overflow: scroll;
}
.outputHeader {
    padding: 0;
    margin: 10px 0 18px 22px;
}
.blocksSelection {
    position: absolute;
    top: 15px;
    left: 160px;
    width: 50%;
}
select.blocksSelection{
    position: absolute;
    top: 43px;
    left: 160px;
    width: 45%;
}
.gomeriaLink {
    font-size: small;
	text-decoration: none;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}