<!DOCTYPE html>
<html>
	<body>
		<div id="map-canvas"></div>
		<div class="panel">
			<h5 class="blocksSelection">Cantidad de cuadras dispuesto a caminar:</h5>
	        <select class="blocksSelection" ng-model="select.block" ng-options="select.value as select.name for select in select.blocks" ng-change="makeWays(select.block)"></select>
			</br>
		
			<h4 class="outputHeader">Gomerías:</h4>
			<ul class="example-animate-container">
				<li class="animate-repeat" ng-repeat="destino in destinos | filter:q as results">
					<a href="javascript:void(0)" class="gomeriaLink" ng-model="destino" ng-click="saySome(destino)">{{destino.name}} </br>
					{{destino.address}} </br>
					Distancia: {{destino.distance}} metros apróx.</a>
				</li>
			</ul>			
		</div>
	</body>
</html>